<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <div
            class="
                product-details-container
                <%-product.brand.name.toLowerCase()%>-product
            "
        >
            <div class="product-details-image-container">
                <img src="<%- product.image %>" alt="<%- product.name %>" />
            </div>
            <div class="product-details-info-container">
                <p>Brand: <strong><%- product.brand.name %></strong></p>
                <h1><%- product.name %></h1>
                <p><%- product.description %></p>
                <p class="price">Price: $<%- product.price %></p>
                <button class="add-to-cart-button" data-id="<%- product.id %>">
                    Buy Now
                </button>
            </div>
        </div>
        <div class="similar-products-container">
            <h2>Similar Products</h2>

            <%- include('../partials/similar-products-grid', {products:
            similarProducts}); %>
        </div>
        <%- include('../partials/footer'); %>
    </body>
    <script>
        window.onload = () => {
            const addToCartButtons = document.querySelectorAll(
                ".add-to-cart-button"
            );

            addToCartButtons.forEach((button) => {
                button.addEventListener("click", async () => {
                    const productId = button.getAttribute("data-id");
                    const url = `/cart/${productId}`;
                    const response = await fetch(url, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                    });
                    if (response.status === 200) {
                        alert("Product added to cart!");
                    } else {
                        alert("You need an account to add products to cart!");
                        window.location.href = "/account";
                    }
                });
            });
        };
    </script>
</html>
